[Desktop Entry]
Type=Application
Name=C-Editor
Exec=C-Editor
Icon=team.international2c.c_editor
Categories=Game;Utility;
Terminal=false
StartupWMClass=team.international2c.c_editor
