[Desktop Entry]
Type=Application
Name=C-Editor
Comment=Level Editor for Plants vs. Zombies 2 Chinese
Exec=c-editor
Icon=team.international2c.c_editor
Categories=Game;Utility;
Terminal=false
StartupNotify=true
StartupWMClass=team.international2c.c_editor
